@import '~select2/dist/css/select2';

.Browser {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Browser-controls {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: 100%;
    margin-bottom: -1px;
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    body.has-simple-ui & {
        display: none;
    }
}

.Browser-tabs {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
}

.Browser-tab {
    display: flex;
    white-space: nowrap;
    max-width: 8rem;

    a {
        position: relative;
        flex: auto;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
        color: $color-text;

        &:hover {
            color: $color-brand;
            color: var(--color-brand);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 10px;
            right: 10px;
            height: 1px;
            background: transparent;
        }
    }

    &.is-active {
        a {
            border-bottom-color: $color-brand;
            border-bottom-color: var(--color-brand);
            color: $color-brand;
            color: var(--color-brand);

            &::after {
                background-color: currentColor;
            }
        }
    }

    &.is-disabled {
        a {
            opacity: 0.5;
        }
    }
}

.Browser-panel {
    flex: 1 1 auto;
    display: none;
    overflow: auto;
    // position: relative;
    width: 100%;
    background-color: $color-background-offset;
    padding: 20px;
    border: 1px solid $color-frame-border;

    &.is-active {
        display: flex;
    }

    .Code {
        background-color: $color-background-offset;

        pre {
            background-color: $color-background-offset;
            padding: 0;
        }
    }

    > .Meta {
        flex-basis: 100%;
    }
}

.Browser-panel--preview {
    padding: 0;
    min-height: 100px;
}

.Browser-panel--html {
    max-height: 600px;
}

.Browser-notes {
    padding-top: 20px;
}

.Browser-resources {
    padding: 0;
}

.Browser-isEmptyNote {
    font-style: italic;
    color: $color-text;
    opacity: 0.6;
}
