.Header {
    position: relative;
    z-index: 10;
    background-color: $color-header-background;
    text-overflow: ellipsis;
    color: $color-header-content;
    height: 100%;
}

.Header-title {
    @include link-default(inherit, none);
    padding: 0.75rem 1rem;
    font-size: 1.125rem; // 18px
    line-height: (24 / 18);
    white-space: nowrap;
}

.Header-dropdown {
    display: none;
    position: relative;

    &.is-open .Header-dropdown-content {
        display: block;
    }
}

.Header-dropdown__title {
    cursor: pointer;

    &:hover,
    &:focus,
    .is-open & {
        background: $color-brand;
        background: var(--color-brand);
    }
}

.Header-dropdownTitle {
    font-size: 20px;
    margin-bottom: 1em;
}

.Header-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    color: $color-text;
    background-color: $color-background-offset;
    min-width: 240px;
    padding: 30px;
    z-index: 1;

    .btn {
        margin-top: 2em;
    }
}

.Header-button {
    width: 48px;
    height: 48px;
    padding: 14px;
    text-align: center;
    color: $color-brand;
    color: var(--color-brand);
    outline: 0;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    top: 18px;
    right: 15px;
    background-color: $white;

    &:focus {
        outline: 0;
    }

    .Header-dropdown.is-open & {
        background: $color-brand;
        background: var(--color-brand);
    }

    @include mq($until: navCollapse) {
        right: 5px;
    }
}

.Header-buttonIcon {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.Header-buttonIconInner {
    top: 50%;
    margin-top: -1px;
    transform: rotate(-225deg);

    &,
    &:after,
    &:before {
        transition: all .3s ease;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        background: currentColor;
        border-radius: 99em;
    }

    &:before,
    &:after {
        top: 50%;
        margin-top: -1px;
    }

    &:after {
        transform: rotate(90deg);
    }

    .Frame.is-closed & {
        transform: rotate(0);

        &:before {
            top: -.64em;
            margin-top: .125em;
            transform: rotate(0);
        }

        &:after {
            top: .64em;
            margin-top: -.125em;
            transform: rotate(0);
        }
    }
}
