.IconGrid-item {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 15px;

    @include mq($until: navcollapse) {
        width: 134px;
        padding: 10px;
    }
}

.IconGrid-icon {
    font-size: 75px;

    @include mq($until: navcollapse) {
        font-size: 50px;
    }

    body.is-icon-test-active & {
        color: $color-brand;
        color: var(--color-brand);
    }
}

.IconGrid-label {
    font-size: 14px;
}

.IconGrid-button {
    margin-top: 10px;
}
