.logo {
    font-size: 16px;
    display: block;
    padding: 12px 14px;
    color: $color-header-content;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: top left;
    bottom: -22px;
    position: absolute;
    left: calc(100% - 64px);
    background: #fff;

    &:hover {
        color: $color-header-content;
    }

    @include mq($until: navCollapse) {
        left: calc(100% - 54px);
    }
}

.logo__text {
    display: inline-block;
    vertical-align: top;
    font-family: $font-family-heading;
    font-size: 14px;
    font-weight: 600;
    color: $color-header-content;
    text-transform: uppercase;
}
