.Search {
    position: relative;
    margin-right: -40px;
}

.Search-clearButton {
    width: 2rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 34px;
    line-height: 0;
    opacity: 0.5;

    &:hover,
    &:focus {
        opacity: 1;
    }

    svg {
        width: 18px;
        height: 18px;
    }
}

.Search-label {
    display: block;
    margin-bottom: 0.5rem;
    color: $color-sidebar-heading;

    @include font(label);
    @include visuallyhidden;
}

.Search-input {
    width: 100%;
    padding: 0.5rem calc(40px + 2rem) 0.5rem 0;
    appearance: none;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid $color-frame-border;

    // Hide native "clear" button in IE
    &::-ms-clear {
        display: none;
        -webkit-appearance: none;
    }

    &:focus {
        outline: none;
        border-color: $black;
    }
}
